<tr>
	<td>3931685</td>
	<td>Laceless elastic-topped athletic shoe</td>
	<td>http://www.freepatentsonline.com/3931685.html</td>
</tr>
<tr>
	<td>3935609</td>
	<td>Shoe last with insole holding devices</td>
	<td>http://www.freepatentsonline.com/3935609.html</td>
</tr>
<tr>
	<td>3932907</td>
	<td>Roughing machine</td>
	<td>http://www.freepatentsonline.com/3932907.html</td>
</tr>
<tr>
	<td>3932950</td>
	<td>Footwear with non-slip tread</td>
	<td>http://www.freepatentsonline.com/3932950.html</td>
</tr>
<tr>
	<td>3936103</td>
	<td>Rotary shaft tilting shoe bearing</td>
	<td>http://www.freepatentsonline.com/3936103.html</td>
</tr>
<tr>
	<td>3934294</td>
	<td>Lasting machine and method</td>
	<td>http://www.freepatentsonline.com/3934294.html</td>
</tr>
<tr>
	<td>3934359</td>
	<td>Reinforcing elements for shoe soles and heels</td>
	<td>http://www.freepatentsonline.com/3934359.html</td>
</tr>
<tr>
	<td>3931721</td>
	<td>Warp knitted elastic fabric</td>
	<td>http://www.freepatentsonline.com/3931721.html</td>
</tr>
<tr>
	<td>3938211</td>
	<td>Fluid lasting of shoes and similar operations</td>
	<td>http://www.freepatentsonline.com/3938211.html</td>
</tr>
<tr>
	<td>3931788</td>
	<td>Adhesive extruding nozzle-guidance arrangements</td>
	<td>http://www.freepatentsonline.com/3931788.html</td>
</tr>
<tr>
	<td>3937534</td>
	<td>Thrust bearing resonance changer</td>
	<td>http://www.freepatentsonline.com/3937534.html</td>
</tr>
<tr>
	<td>3934346</td>
	<td>Sporting shoes</td>
	<td>http://www.freepatentsonline.com/3934346.html</td>
</tr>
